
body{

    height:100vh; 

    background-image:linear-gradient(to bottom right,rgba(126,213,111,0.7) , rgba(40,180,133,0.7));
}

img{
    margin:1%;
    height:50px;
    border-radius: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2)
}

.color-text {
    text-transform: uppercase;
    background: linear-gradient(to right, #082d2d 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.full-content{
    text-align: right;
    padding-top: 5vh;
}

.btn-content {
    text-align: center;
    padding-top: 2rem;
}
@media (min-width: 576px) {
    .btn-content{
        padding-top: 50vh;
    }
    .full-content {
        padding-top: 30vh;
    }
    
}

@media (max-width: 576px) {
    
}

.info{
    font-size: 2rem;
}

.btn-text{
    font-size: 1.5rem;
    font-weight: bold;
}

